<a href="https://colab.research.google.com/github/Plusholic/Engineer_BigDataAnalysis/blob/main/BigData_practice_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 481, done.
remote: Counting objects: 100% (118/118), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 481 (delta 64), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (481/481), 8.88 MiB | 13.74 MiB/s, done.
Resolving deltas: 100% (249/249), done.

In [4]:
import pandas as pd
import numpy as np

X_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/census_X_train.csv")
X_test = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/census_X_test.csv")
y_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/census_y_train.csv")

# 확인결과 결측치는 없음. target이 0,1이므로 분류모델이고, 갯수가 bias 되어 있음.
print(X_train.info())
print(X_train)
print(y_train.value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   education_num   30162 non-null  int64
 3   marital_status  30162 non-null  object
 4   occupation      30162 non-null  object
 5   relationship    30162 non-null  object
 6   race            30162 non-null  object
 7   sex             30162 non-null  object
 8   capital_gain    30162 non-null  int64
 9   capital_loss    30162 non-null  int64
 10  hours_per_week  30162 non-null  int64
 11  native_country  30162 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.8+ MB
None
       age         workclass  education_num      marital_status  \
0       39         State-gov             13       Never-married
1       50  Self-emp-not-inc             13  Married-civ-spouse
2       38           Private              9            Divorced
3       53           Private              7  Married-civ-spouse
4       28           Private             13  Married-civ-spouse
...    ...               ...            ...                 ...
30157   27           Private             12  Married-civ-spouse
30158   40           Private              9  Married-civ-spouse
30159   58           Private              9             Widowed
30160   22           Private              9       Never-married
30161   52      Self-emp-inc              9  Married-civ-spouse

              occupation   relationship   race     sex  capital_gain  \
0           Adm-clerical  Not-in-family  White    Male          2174
1        Exec-managerial        Husband  White    Male             0
2      Handlers-cleaners  Not-in-family  White    Male             0
3      Handlers-cleaners        Husband  Black    Male             0
4         Prof-specialty           Wife  Black  Female             0
...                  ...            ...    ...     ...           ...
30157       Tech-support           Wife  White  Female             0
30158  Machine-op-inspct        Husband  White    Male             0
30159       Adm-clerical      Unmarried  White  Female             0
30160       Adm-clerical      Own-child  White    Male             0
30161    Exec-managerial           Wife  White  Female         15024

       capital_loss  hours_per_week native_country
0                 0              40  United-States
1                 0              13  United-States
2                 0              40  United-States
3                 0              40  United-States
4                 0              40           Cuba
...             ...             ...            ...
30157             0              38  United-States
30158             0              40  United-States
30159             0              40  United-States
30160             0              20  United-States
30161             0              40  United-States

[30162 rows x 12 columns]
target
0         22654
1          7508
dtype: int64

In [5]:
print(X_train.describe())

                age  education_num  capital_gain  capital_loss  hours_per_week
count  30162.000000   30162.000000  30162.000000  30162.000000    30162.000000
mean      38.437902      10.121312   1092.007858     88.372489       40.931238
std       13.134665       2.549995   7406.346497    404.298370       11.979984
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [7]:
# capital_gain, capital_loss 는 bias 되어있는것을 확인할 수 있음. 두 변수의 75 백분위수 ~ 100 백분위수 범위를 5 백분위수 단계로 쪼개서 살펴보기
print(X_train['capital_gain'].quantile([q/20 for q in range(15, 21)]))
print(X_train['capital_loss'].quantile([q/20 for q in range(15, 21)]))

0.75        0.0
0.80        0.0
0.85        0.0
0.90        0.0
0.95     5013.0
1.00    99999.0
Name: capital_gain, dtype: float64
0.75       0.0
0.80       0.0
0.85       0.0
0.90       0.0
0.95       0.0
1.00    4356.0
Name: capital_loss, dtype: float64

In [8]:
X_train['capital_gain_yn'] = np.where(X_train['capital_gain'] > 0, 1, 0)
X_train['capital_loss_yn'] = np.where(X_train['capital_loss'] > 0, 1, 0)

X_test['capital_gain_yn'] = np.where(X_test['capital_gain'] > 0, 1, 0)
X_test['capital_loss_yn'] = np.where(X_test['capital_loss'] > 0, 1, 0)

In [35]:
categoric_ = ['workclass', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'capital_gain_yn', 'capital_loss_yn']
numeric_ = ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [36]:
X_train = X_train.drop([], axis=1)
X_test = X_test.drop([], axis=1)

train_df = pd.concat([X_train, y_train], axis=1)

for _col in numeric_:
  print('-'*80)
  print(_col)
  print(train_df.groupby(['target'])[_col].describe(), end='\n\n')

--------------------------------------------------------------------------------
age
          count      mean        std   min   25%   50%   75%   max
target
0       22654.0  36.60806  13.464631  17.0  26.0  34.0  45.0  90.0
1        7508.0  43.95911  10.269633  19.0  36.0  43.0  51.0  90.0

--------------------------------------------------------------------------------
education_num
          count       mean       std  min   25%   50%   75%   max
target
0       22654.0   9.629116  2.413596  1.0   9.0   9.0  10.0  16.0
1        7508.0  11.606420  2.368423  2.0  10.0  12.0  13.0  16.0

--------------------------------------------------------------------------------
capital_gain
          count         mean           std  min  25%  50%  75%      max
target
0       22654.0   148.893838    936.392280  0.0  0.0  0.0  0.0  41310.0
1        7508.0  3937.679808  14386.060019  0.0  0.0  0.0  0.0  99999.0

--------------------------------------------------------------------------------
capital_loss
          count        mean         std  min  25%  50%  75%     max
target
0       22654.0   53.448000  310.270263  0.0  0.0  0.0  0.0  4356.0
1        7508.0  193.750666  592.825590  0.0  0.0  0.0  0.0  3683.0

--------------------------------------------------------------------------------
hours_per_week
          count       mean        std  min   25%   50%   75%   max
target
0       22654.0  39.348592  11.950774  1.0  38.0  40.0  40.0  99.0
1        7508.0  45.706580  10.736987  1.0  40.0  40.0  50.0  99.0

In [37]:
# column 별로 target의 평균
for _col in categoric_:
  print(train_df.groupby([_col], as_index=False)['target'].mean().sort_values(by='target', ascending=False), end='\n\n')

          workclass    target
3      Self-emp-inc  0.558659
0       Federal-gov  0.387063
1         Local-gov  0.294630
4  Self-emp-not-inc  0.285714
5         State-gov  0.268960
2           Private  0.218792
6       Without-pay  0.000000

          marital_status    target
1      Married-AF-spouse  0.476190
2     Married-civ-spouse  0.454959
0               Divorced  0.107262
6                Widowed  0.096735
3  Married-spouse-absent  0.083784
5              Separated  0.070288
4          Never-married  0.048324

           occupation    target
3     Exec-managerial  0.485220
9      Prof-specialty  0.448489
10    Protective-serv  0.326087
12       Tech-support  0.304825
11              Sales  0.270647
2        Craft-repair  0.225310
13   Transport-moving  0.202926
0        Adm-clerical  0.133835
6   Machine-op-inspct  0.124619
4     Farming-fishing  0.116279
1        Armed-Forces  0.111111
5   Handlers-cleaners  0.061481
7       Other-service  0.041096
8     Priv-house-serv  0.006993

     relationship    target
5            Wife  0.493599
0         Husband  0.455669
1   Not-in-family  0.106523
4       Unmarried  0.066314
2  Other-relative  0.039370
3       Own-child  0.014330

                 race    target
1  Asian-Pac-Islander  0.277095
4               White  0.263718
2               Black  0.129925
0  Amer-Indian-Eskimo  0.118881
3               Other  0.090909

      sex    target
1    Male  0.313837
0  Female  0.113678

                native_country    target
35                      Taiwan  0.452381
9                       France  0.444444
19                        Iran  0.428571
18                       India  0.400000
23                       Japan  0.389831
0                     Cambodia  0.388889
40                  Yugoslavia  0.375000
21                       Italy  0.352941
8                      England  0.348837
10                     Germany  0.343750
1                       Canada  0.336449
29                 Philippines  0.319149
16                        Hong  0.315789
2                        China  0.294118
11                      Greece  0.275862
4                         Cuba  0.271739
38               United-States  0.254327
17                     Hungary  0.230769
20                     Ireland  0.208333
34                       South  0.197183
30                      Poland  0.196429
33                    Scotland  0.181818
36                    Thailand  0.176471
6                      Ecuador  0.148148
22                     Jamaica  0.125000
31                    Portugal  0.117647
24                        Laos  0.117647
37             Trinadad&Tobago  0.111111
32                 Puerto-Rico  0.110092
13                       Haiti  0.095238
7                  El-Salvador  0.090000
15                    Honduras  0.083333
39                     Vietnam  0.078125
28                        Peru  0.066667
26                   Nicaragua  0.060606
25                      Mexico  0.054098
12                   Guatemala  0.047619
3                     Columbia  0.035714
5           Dominican-Republic  0.029851
27  Outlying-US(Guam-USVI-etc)  0.000000
14          Holand-Netherlands  0.000000

   capital_gain_yn    target
1                1  0.628448
0                0  0.214053

   capital_loss_yn    target
1                1  0.516468
0                0  0.235636

In [39]:
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train, X_test])
for _col in categoric_:
  le = LabelEncoder()
  le.fit(X_train[_col])
  X_train[_col] = le.transform(X_train[_col])
  X_test[_col] = le.transform(X_test[_col])

In [40]:
X_train

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,capital_gain_yn,capital_loss_yn
0,39,5,13,4,0,1,4,1,2174,0,40,38,1,0
1,50,4,13,2,3,0,4,1,0,0,13,38,0,0
2,38,2,9,0,5,1,4,1,0,0,40,38,0,0
3,53,2,7,2,5,0,2,1,0,0,40,38,0,0
4,28,2,13,2,9,5,2,0,0,0,40,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,2,12,2,12,5,4,0,0,0,38,38,0,0
30158,40,2,9,2,6,0,4,1,0,0,40,38,0,0
30159,58,2,9,6,0,4,4,0,0,0,40,38,0,0
30160,22,2,9,4,0,3,4,1,0,0,20,38,0,0
30161,52,3,9,2,3,5,4,0,15024,0,40,38,1,0

In [41]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train)

In [42]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_tr[numeric_] = scaler.fit_transform(X_tr[numeric_])
X_val[numeric_] = scaler.fit_transform(X_val[numeric_])
X_test[numeric_] = scaler.fit_transform(X_test[numeric_])

In [46]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [49]:
from xgboost import XGBClassifier

model_xgb1 = XGBClassifier()
model_xgb1.fit(X_tr, y_tr.values.ravel())

XGBClassifier()

In [50]:
model_xgb2 = XGBClassifier(n_estimator=1000, learning_rate=0.1, max_depth=10)
model_xgb2.fit(
    X_tr, y_tr.values.ravel(),
    early_stopping_rounds=50,
    eval_metric='auc',
    eval_set=[(X_val, y_val)],
    verbose=10
    )

[0]	validation_0-auc:0.900523
Will train until validation_0-auc hasn't improved in 50 rounds.

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[10]	validation_0-auc:0.9084
[20]	validation_0-auc:0.908714
[30]	validation_0-auc:0.908297
[40]	validation_0-auc:0.908293
[50]	validation_0-auc:0.90798
[60]	validation_0-auc:0.907494
Stopping. Best iteration:
[17]	validation_0-auc:0.908957

XGBClassifier(max_depth=10, n_estimator=1000)

In [53]:
# 모델 성능의 확인을 위해 ROC-AUC 값을 구한다.

from sklearn.metrics import roc_auc_score
y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb1 = model_xgb1.predict_proba(X_val)
y_pred_xgb2 = model_xgb2.predict_proba(X_val)

score_rf = roc_auc_score(y_val, y_pred_rf[:,1])
score_xgb1 = roc_auc_score(y_val, y_pred_xgb1[:,1])
score_xgb2 = roc_auc_score(y_val, y_pred_xgb2[:,1])

print(score_rf)
print(score_xgb1)
print(score_xgb2)

0.8903453579326999
0.915173108186116
0.9089566079068945

In [55]:
pd.DataFrame({'feature' : X_tr.columns,
             'fi_rf' : model_rf.feature_importances_,
             'fi_xgb1' : model_xgb1.feature_importances_,
             'fi_xgb2' : model_xgb2.feature_importances_})

            feature     fi_rf   fi_xgb1   fi_xgb2
0               age  0.224820  0.066426  0.022306
1         workclass  0.047805  0.021024  0.016825
2     education_num  0.134536  0.145185  0.094276
3    marital_status  0.071242  0.130238  0.126488
4        occupation  0.087564  0.041814  0.021096
5      relationship  0.111569  0.346526  0.452316
6              race  0.017296  0.008009  0.013533
7               sex  0.012098  0.022623  0.014102
8      capital_gain  0.098653  0.118362  0.151379
9      capital_loss  0.033828  0.044444  0.050485
10   hours_per_week  0.110442  0.050892  0.024184
11   native_country  0.019326  0.004457  0.013012
12  capital_gain_yn  0.023482  0.000000  0.000000
13  capital_loss_yn  0.007340  0.000000  0.000000

In [60]:
# 우리가 라벨링 해 준 capital_gain_yn, loss_yn 등이 라벨링 전 보다 중요도가 낮은 걸 확인할 수 있다. 제거해준다.

X_train.drop(['capital_gain_yn', 'capital_loss_yn'], axis=1, inplace=True)
X_test.drop(['capital_gain_yn', 'capital_loss_yn'], axis=1, inplace=True)
X_val.drop(['capital_gain_yn', 'capital_loss_yn'], axis=1, inplace=True)

In [ ]:
from sklearn.model_selection import GridSearchCV

grid_params = {'n_estimators' : [50, 100, 200],
               'max_depth' : [5, 10, 15],
               'min_samples_split' : [2, 5, 10],
               'min_samples_leaf' : [1,2,4]}

rf_cv = GridSearchCV(estimator=model_rf,
                     param_grid = grid_params,
                     cv=5)
rf_cv.fit(X_train, y_train.values.ravel())
# 실제 실행 시간이 오래 걸리기 때문에 시험에서는 제출이 잘 되지 않을 수 있음. 1분 제한시간이 있기 때문임.
# 너무 오래걸린다면 하이퍼파라미터를 2~3개씩 나눠서 튜닝을 수행하면 됨

In [62]:
pd.DataFrame(rf_cv,cv_results_).head()

In [ ]:
print(rf_cv.best_params_)

In [ ]:
model_rf2 = RandomForestClassifier(n_estimator=50,
                                   max_depth=15,
                                   min_samples_leaf=1,
                                   min_samples_split=5)
model_rf2.fit(X_tr,y_tr.values.ravel())

y_pred_rf2 = model_rf2.predict_proba(X_val)
score_rf2 = roc_auc_score(y_val, y_pred_rf2[:,1])
print(score_rf2)

In [ ]:
grid_params = {'max_depth' : [3, 5, 7, 10],
               'min_child_weight' : [1, 2],
               'colsample_bytree' : [0.6, 0.8],
               'subsample' : [0.6, 0.8]}

xgb_cv = GridSearchCV(estimator = model_xgb1, param_grid=grid_params, cv=5)
xgb_cv.fit(X_tr, y_tr.values.ravel())

print(xgb_cv.best_params_)

In [ ]:
params = {'max_depth' : [3, 5, 7, 10],
          'min_child_weight' : [1, 2],
          'colsample_bytree' : [0.6, 0.8],
          'subsample' : [0.6, 0.8]}

model_xgb3 = XGBClassifier(n_estimators=1000, learning_rate=0.05)
model_xgb3.set_params(**params)

model_xgb3.fit(X_tr, y_tr,
               early_stopping_rounds=50,
               eval_metric='auc',
               eval_set=[(X_val,y_val)],
               verbose=10)

print(model_xgb3.best_score)

In [ ]:
pred = model_xgb3.predict_proba(X_test)[:,1]
pd.DataFrame({'index' : X_test.index, 'target' : pred}).to_csv()