<a href="https://colab.research.google.com/github/Plusholic/Engineer_BigDataAnalysis/blob/main/BigData_practice_02_revise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 485, done.
remote: Counting objects: 100% (122/122), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 485 (delta 66), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (485/485), 8.89 MiB | 17.84 MiB/s, done.
Resolving deltas: 100% (251/251), done.

In [96]:
import pandas as pd
X_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")
X_test = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")

train = pd.concat([X_train, y_train], axis=1)
train.dropna(inplace=True)
train.reset_index(drop=True, inplace=True)
train = pd.get_dummies(train)

# train.describe()
y_train = train['body_mass_g']
del train['body_mass_g']
X_train = train


from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state = 42)

from sklearn.preprocessing import MinMaxScaler

numeric_ = ['bill_length_mm',	'bill_depth_mm',	'flipper_length_mm']
scaler = MinMaxScaler()

X_tr[numeric_] = scaler.fit_transform(X_tr[numeric_])
X_val[numeric_] = scaler.transform(X_val[numeric_])

from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_auc_score, mean_squared_error

model_xgb = XGBRegressor(random_state = 42, n_estimators=100, max_depth = 2)
model_lgbm = LGBMRegressor(random_state = 42, n_estimators=100, max_depth = 2)
model_rf = RandomForestRegressor(random_state = 42, n_estimators=100, max_depth = 2)
model_lr = LinearRegression()

model_xgb.fit(X_tr,y_tr)
model_lgbm.fit(X_tr,y_tr)
model_rf.fit(X_tr,y_tr)
model_lr.fit(X_tr,y_tr)

pred_xgb = model_xgb.predict(X_val)
pred_lgbm = model_lgbm.predict(X_val)
pred_rf = model_rf.predict(X_val)
pred_lr = model_lr.predict(X_val)

print('*'*30)
mse_xgb = mean_squared_error(y_val, pred_xgb, squared=True)
mse_lgbm = mean_squared_error(y_val, pred_lgbm, squared=True)
mse_rf = mean_squared_error(y_val, pred_rf, squared=True)
mse_lr = mean_squared_error(y_val, pred_rf, squared=True)

rmse_xgb = mean_squared_error(y_val, pred_xgb, squared=False)
rmse_lgbm = mean_squared_error(y_val, pred_lgbm, squared=False)
rmse_rf = mean_squared_error(y_val, pred_rf, squared=False)
rmse_lr = mean_squared_error(y_val, pred_rf, squared=False)
print('RMSE : {0:4f} {1:4f} {2:4f} {3:4f}'.format(mse_xgb, mse_lgbm, mse_rf, mse_lr))
print('MSE : {0:4f} {1:4f} {2:4f} {3:4f}'.format(rmse_xgb, rmse_lgbm, rmse_rf, rmse_lr))
# import sklearn
# help(sklearn.metrics)

[15:12:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
******************************
RMSE : 91836.523743 89797.683702 86728.479312 86728.479312
MSE : 303.045415 299.662616 294.496994 294.496994

In [55]:
X_tr

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,sex_FEMALE
59,0.166023,0.469880,0.178571,0.000000,1,0,0,1,0,0,1
121,0.220077,0.614458,0.000000,0.159420,1,0,0,1,0,0,1
146,0.764479,0.759036,0.571429,0.318841,0,1,0,0,1,0,0
201,0.444015,0.084337,0.767857,0.594203,0,0,1,1,0,0,1
69,0.594595,0.433735,0.446429,0.304348,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
113,0.038610,0.349398,0.071429,0.014493,1,0,0,0,1,0,1
16,0.478764,0.180723,0.714286,0.579710,0,0,1,1,0,0,1
98,0.768340,0.698795,0.410714,0.376812,0,1,0,0,1,0,0
186,0.173745,0.554217,0.196429,0.246377,1,0,0,0,0,1,1
108,0.428571,0.409639,0.232143,0.014493,0,1,0,0,1,0,1

In [73]:
X_train.corr()

                   bill_length_mm  bill_depth_mm  flipper_length_mm
bill_length_mm           1.000000      -0.215964           0.641522
bill_depth_mm           -0.215964       1.000000          -0.570234
flipper_length_mm        0.641522      -0.570234           1.000000

In [72]:
X_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
X_train['island'].value_counts()

Biscoe       118
Dream         88
Torgersen     34
Name: island, dtype: int64

In [62]:
import pandas as pd
import numpy as np

X_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
X_test = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
y_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")

train = pd.concat([X_train, y_train], axis=1) # y_train을 포함해서결측치 제거를 위해 합쳐줌

train.dropna(inplace=True)
train.reset_index(drop=True, inplace=True) # drop=True 옵션은 기존의 인덱스를 버리고 재배열해준다.

X_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]

X_train.describe()

# print(X_train.info())
# print(X_train)
# 수치형 변수 3개는 스케일링이 필요, 범주형 변수 3개에 대해서는 인코딩이 필요

X = pd.concat([X_train, X_test])

categoric_ = X.columns[:3] # 범주형 변수 컬럼명
numeric_ = X.columns[3:] # 수치형 변수 컬럼명

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

ohe = OneHotEncoder(handle_unknown = 'ignore')

# 범주형 변수는 One Hot Encoding
X_train_res = ohe.fit_transform(X_train[categoric_])
X_test_res = ohe.fit_transform(X_test[categoric_])

X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names())

print(X_train_ohe)

# 범주형 변수를 One Hot Encoding으로 수치형으로 변환해줬으니 기존의 수치형 변수와 합친다.
X_train_fin = pd.concat([X_train[numeric_], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[numeric_], X_test_ohe], axis=1)

from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3, random_state=42)

scaler = MinMaxScaler()
scaler.fit(X_tr[numeric_])
# 수치형 변수는 Min Max Scaling
X_tr[numeric_] = scaler.transform(X_tr[numeric_])
X_val[numeric_] = scaler.transform(X_val[numeric_])
X_test_fin[numeric_] = scaler.transform(X_test_fin[numeric_])

print(X_train_fin)

from sklearn.linear_model import LinearRegression
import numpy as np
modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

print(modelLR.intercept_) # 기울기 확인

coef = pd.Series(data=modelLR.coef_, index=X_train_fin.columns) # 계수 확인
print(coef.sort_values())

from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse = mean_squared_error(y_val, y_val_pred, squared=False)
rmse_2 = np.sqrt(mse)
print('MSE : {0:.3f} , RMSE : {1:.3f}, RMSE : {2:.3f}'.format(mse, rmse, rmse_2)) # sqrt를 활용해도 rmse를 구할 수 있다.

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]
     bill_length_mm  bill_depth_mm  flipper_length_mm  x0_Adelie  \
0              43.5           15.2              213.0        0.0
1              42.8           18.5              195.0        1.0
2              53.5           19.9              205.0        0.0
3              50.2           14.3              218.0        0.0
4              36.5           18.0              182.0        1.0
..              ...            ...                ...        ...
227            46.6           17.8              193.0        0.0
228            49.8           15.9              229.0        0.0
229            34.6           17.2              189.0        1.0
230            45.9           17.1              190.0        0.0
231            41.7           14.7              210.0        0.0

     x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  \
0             0.0        1.0        1.0       0.0           0.0        1.0
1             0.0        0.0        0.0       0.0           1.0        0.0
2             1.0        0.0        0.0       1.0           0.0        0.0
3             0.0        1.0        1.0       0.0           0.0        0.0
4             0.0        0.0        0.0       1.0           0.0        1.0
..            ...        ...        ...       ...           ...        ...
227           1.0        0.0        0.0       1.0           0.0        1.0
228           0.0        1.0        1.0       0.0           0.0        0.0
229           0.0        0.0        0.0       0.0           1.0        1.0
230           1.0        0.0        0.0       1.0           0.0        1.0
231           0.0        1.0        1.0       0.0           0.0        1.0

     x2_MALE
0        0.0
1        1.0
2        1.0
3        1.0
4        0.0
..       ...
227      0.0
228      1.0
229      0.0
230      0.0
231      0.0

[232 rows x 11 columns]
[4685.83404137 4677.65869858 5379.81214833 3531.6611949  3330.17984401
 4206.20173618 4927.38129466 5434.24361003 5417.72281879 4233.25250287
 2986.56142511 4085.44586821 3964.56948213 4230.28764976 4051.98675946
 3966.82270524 3883.24282353 4578.89887721 3358.21100066 3446.52366719
 3962.37654505 3476.05939712 5804.79279711 3967.34154332 3396.09659078
 3907.12913937 5392.4888479  3400.67785889 4082.87045888 5826.582496
 3495.25057214 4263.10320572 4147.91496759 5353.00589782 3477.586659
 4043.56923952 3430.72063174 4262.08226248 4091.51950461 3899.33290343
 4099.42286607 3449.22266476 3289.72253203 5734.41555893 4177.2432623
 3211.30837809 4736.59255342 3400.12849472 3255.22076747 5377.96279795
 4727.09323397 4739.2084183  3573.19745825 4255.38256709 3369.68362432
 4687.7679264  3533.59548975 3307.96664709 3449.74150284 3264.96226408
 3245.81210845 4074.87118712 3229.01424646 5602.70481552 4319.17335884
 3535.74190178 3331.04314474 5569.89928441 4214.02009688 5321.89311094]
3114.2591488244007
x0_Chinstrap        -554.219036
x2_FEMALE           -195.600236
x0_Adelie            -86.710673
x1_Dream             -11.639037
x1_Torgersen           5.278414
x1_Biscoe              6.360623
x2_MALE              195.600236
bill_depth_mm        319.482031
x0_Gentoo            640.929709
bill_length_mm       892.066450
flipper_length_mm    969.473147
dtype: float64
MSE : 85335.192 , RMSE : 292.122, RMSE : 292.122

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# 새 섹션